{% extends 'base.html' %}
{% load static %}


{% block content %}
<div id="home">
        <article id="offer">
            <h1>Newest Offer</h1>
            <img src="{% static 'LittleLemonUI/img/services.png' %}" alt="offer image">
            <p>Grand opening sale! Get 20% off all items.</p>
        </article>

        <article class="service">
            <h2>Design and Creation</h2>
            <img src="{% static 'LittleLemonUI/img/services.png' %}" alt="services image">
            <p>Our team of experts can design and create beautiful landscapes tailored to your needs.</p>
        </article>

        <article class="service">
            <h2>Maintenance</h2>
            <img src="{% static 'LittleLemonUI/img/services.png' %}" alt="services image">
            <p>Maintenance services to keep your garden looking its best.</p>
        </article>

        <article class="service">
            <h2>Landscaping</h2>
            <img src="{% static 'LittleLemonUI/img/services.png' %}" alt="services image">
            <p>Professional landscaping services to transform your outdoor space.</p>
        </article>
    </div>
{% endblock %}

