/* Base rules */
body {
    background-color: rgb(201, 236, 201);
    font-family: 'Arial', serif;
    margin: 3rem 5% 3rem 5%;
    color: #4e8d71;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

img {
    width: 10rem;
    height: auto;
}

header {
    display: flex;
}

header .logo {
    flex: 1;
}
header .profile {
    flex: 1;
    text-align: right;
}

nav {
    display: flex;
    justify-content: center;
    border-radius: 5%;
    background-color: rgb(152, 206, 173);
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

nav a {
    color: #146e46;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;

}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 100%;
    list-style: none;
    text-align: center;
    margin-top: 0.5rem;
}
 


footer {
    margin-top: 5rem;
    display: flex;
}

footer div {
    flex: 1;
}

footer div:last-child {
    align-self: self-end;
    text-align: right;
}

footer img {
    width: 5rem;
    height: auto;
}

/* Home page rules */

#home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    gap: 2rem;
    color: rgb(167, 63, 63);
}

#home article:hover {
    transform: scale(1.05);
}

#home #offer {
    grid-column: 1 / span 3;
    text-align: center;
    border-radius: 5%;
    background-color: rgb(152, 206, 173);
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5em;
}

#home .service {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5%;
    background-color: rgb(152, 206, 173);
}  


/* Login page rules */

